<div
  class="border-[1px] border-dark-blue rounded-md md:h-[780px] w-full mx-4 hover:shadow-2xl py-3 duration-500"
>
  <h1 class="text-dark-blue text-center text-2xl">Update Profile</h1>
  <hr class="border-dark-blue my-2" />
</div>
<app-update-names></app-update-names>
<button>Update Login Details</button>
<app-update-login-details></app-update-login-details>
<button
  class="w-full mx-4 border-[1px] border-red-500 rounded-md h-fit py-3 mt-5 bg-red-500 hover:bg-white text-white hover:text-red-500 hover:shadow-2xl duration-500"
>
  Delete Account
</button>
