<nav class="bg-white  flex justify-between px-20">
  <div
    class="h-24 w-24 cursor-pointer hover:scale-105 duration-300"
    routerLink="/"
  >
    <img src="../../../../assets/images/Holiday.png" />
  </div>
  <div class="flex justify-around items-center">
    <button
      class="mr-3 w-fit px-3 text-dark-blue h-10 rounded-md hover:text-black duration-300"
      (click)="navigateToSignIn()"
    >
      Sign In
    </button>
    <button
      class="bg-dark-blue w-fit px-3 text-white h-10 rounded-md hover:scale-110 duration-300"
      (click)="navigateToSignUp()"
    >
      Sign Up
    </button>
  </div>
</nav>
