<!-- Desktop -->
<nav
  class="bg-slate-100 hidden md:flex justify-between px-20 sticky top-0 shadow-2xl"
  *ngIf="isNotDashboard()"
>
  <div
    class="h-20 w-20 cursor-pointer hover:scale-105 duration-300"
    routerLink="/"
  >
    <img src="../../../../assets/images/logo.png" />
  </div>
  <div class="flex justify-around items-center">
    <button
      *ngIf="!isUserLoggedIn()"
      class="mr-3 w-fit px-3 text-dark-blue h-10 rounded-md hover:text-black duration-300"
      (click)="navigateTo('signin')"
    >
      Sign In
    </button>
    <button
      *ngIf="!isUserLoggedIn()"
      class="bg-dark-blue w-fit px-3 text-white h-10 rounded-md shadow-xl hover:scale-110 duration-300"
      (click)="navigateTo('signup')"
    >
      Sign Up
    </button>
    <button
      *ngIf="isUserLoggedIn()"
      class="flex items-center justify-around w-fit px-5 h-10 rounded-md border-[1px] border-dark-blue shadow-xl hover:bg-dark-blue hover:text-white duration-500"
      (click)="navigateTo('dashboard')"
    >
      {{ (user | async)?.preferredName || (user | async)?.name }}
      <i class="fa-solid fa-caret-down float-right pl-3"></i>
    </button>
  </div>
</nav>
<!-- Mobile -->
<nav
  class="bg-slate-100 md:hidden flex px-4 justify-between sticky top-0 shadow-2xl w-full z-50"
>
  <div class="h-14 w-14">
    <img src="../../../../assets/images/logo.png" />
  </div>
  <div class="py-3 ml-auto" role="button" (click)="burgerOpen = !burgerOpen">
    <div
      class="border-[1px] border-dark-blue mr-5 mb-2 relative"
      [@rotateAxis]="burgerOpen ? 'clockwiseUp' : ''"
    ></div>
    <div
      class="border-[1px] border-dark-blue w-10 mb-2 relative"
      [@rotateAxis]="burgerOpen ? 'anti_clockwise' : ''"
    ></div>
    <div
      class="border-[1px] border-dark-blue ml-5 mb-2 relative"
      [@rotateAxis]="burgerOpen ? 'clockwiseDown' : ''"
    ></div>
    <div
      class="fixed bg-slate-100 w-[400px] h-screen mr-96 px-5 py-7 z-50"
      [@slide]="burgerOpen ? 'left' : 'right'"
    >
      <div
        *ngIf="isUserLoggedIn()"
        (click)="navigateTo('/dashboard')"
        role="button"
        class="border-[1px] border-dark-blue p-3 mx-3 bg-white shadow-2x"
      >
        <p>{{ (user | async)?.preferredName || (user | async)?.name }}</p>
      </div>
      <div
        *ngIf="isUserLoggedIn()"
        (click)="logOut()"
        role="button"
        class="border-[1px] border-dark-blue p-3 mx-1 shadow-2xl mt-3"
      >
        <p>Logout</p>
      </div>
      <div
        *ngIf="!isUserLoggedIn()"
        (click)="navigateTo('/signin')"
        role="button"
        class="border-[1px] border-dark-blue p-3 mx-1 {{
          currentURL === '/signin' ? 'bg-white shadow-2xl scale-105' : ''
        }} "
      >
        <p>Sign In</p>
      </div>
      <div
        *ngIf="!isUserLoggedIn()"
        (click)="navigateTo('/signup')"
        role="button"
        class="border-[1px] border-dark-blue p-3 mx-1 mt-3 {{
          currentURL === '/signup' ? 'bg-white shadow-2xl scale-105' : ''
        }} "
        routerLinkActive="bg-white shadow-2xl scale-105"
      >
        <p>Sign Up</p>
      </div>
    </div>
  </div>
</nav>
