<div class="flex flex-wrap justify-between px-14 py-3">
  <div class="w-[47%]">
    <p class="text-base text-dark-blue">Your Name</p>
    <input
      type="text"
      placeholder="Name"
      class="w-full h-10 focus:outline-none border-[1px] focus:border-dark-blue px-5 mt-1 rounded-md focus:shadow-2xl duration-500"
    />
  </div>
  <div class="w-[47%]">
    <p class="text-base text-dark-blue">Your Preferred Name</p>
    <input
      type="text"
      placeholder="Preferred Name"
      class="w-full h-10 focus:outline-none border-[1px] focus:border-dark-blue px-5 mt-1 rounded-md focus:shadow-2xl duration-500"
    />
  </div>
</div>
