<div class="shadow-2xl rounded-md border-[1px] border-dark-blue w-full mb-10">
  <h1 class="text-xl text-center text-dark-blue mt-2 mb-3">
    {{ trip.tripName }}
  </h1>
  <hr class="border-dark-blue" />

  <div
    class="flex flex-wrap h-[570px] md:h-[700px] w-full justify-between md:py-6 py-3 md:pl-5 px-3 md:px-0 overflow-y-auto"
  >
    <div
      class="md:w-[73%] w-full bg-dark-blue md:h-full h-[70%] rounded-lg z-10"
      id="map"
    ></div>
    <div
      class="md:w-[23%] w-full bg-white md:border-[1px] md:border-dark-blue md:rounded-l-md md:border-r-0 py-5 h-full"
    >
      <h1 class="text-lg text-dark-blue text-center mb-3">
        {{ trip.tripName }} Details
      </h1>
      <hr class="border-dark-blue border-dashed hidden md:block" />
      <ul class="px-3 py-4 overflow-y-auto h-[95%]">
        <li class="mb-1">Begins: {{ trip.tripStartDate }}</li>
        <li class="mb-1">Ends: {{ trip.tripEndDate }}</li>
        <li class="mb-1">Country: {{ trip.tripLocation?.country }}</li>
        <li
          role="button"
          title="zoom to trip destination"
          class="mb-5 cursor-pointer hover:text-blue-800 hover:text-base hover:font-mono duration-700"
          (click)="zoomInToLocation()"
        >
          Place: {{ trip.tripLocation?.name }}
          <i class="fa-solid fa-location-dot"></i>
        </li>
        <li class="mb-1">{{ trip.tripItenaries.length }} itenararies</li>
        <ol class="px-10" *ngFor="let itenaryItem of trip.tripItenaries">
          <li class="border-dark-blue border-b-[1px] mb-4 grid">
            <span class="mb-1">- {{ itenaryItem.itenaryName }}</span>
            <span class="mb-1"
              >- Date: {{ itenaryItem.itenaryDate | date: "fullDate" }}</span
            >
            <span class="mb-1">
              - StartTime: {{ getTime(itenaryItem.itenaryStartTime) }}
            </span>

            <span class="mb-1">
              - End Time: {{ getTime(itenaryItem.itenaryEndTime) }}</span
            >
            <span class="mb-1">
              -Cost:
              {{
                itenaryItem?.costEstimate
                  | currency
                    : (itenaryItem.costEstimateCurrency === "ZAR"
                        ? "R "
                        : itenaryItem.costEstimateCurrency)
              }}
            </span>
            <span
              class="{{
                itenaryItem.itenaryTag === 'Destination Event'
                  ? ' text-green-500'
                  : 'text-yellow-500'
              }}"
              >{{ itenaryItem.itenaryTag }}</span
            >
          </li>
        </ol>
      </ul>
    </div>
  </div>
</div>
