<nz-modal
  [(nzVisible)]="enterPasswordVisible"
  nzTitle="Please confirm update by providing your password"
  (nzOnCancel)="closepop()"
>
  <div *nzModalContent>
    <div class="flex">
      <input
        [type]="passwordVisible ? 'text' : 'password'"
        [(ngModel)]="password"
        placeholder="Password"
        class="w-full h-10 focus:outline-none border-[1px] border-r-0 rounded-r-none focus:border-dark-blue px-5 mt-1 rounded-md focus:shadow-2xl duration-500"
        (focus)="passwordFocus = true"
        (blur)="passwordFocus = false"
      />
      <button
        class="px-2 border-[1px] {{
          passwordFocus ? 'border-dark-blue' : ''
        }} text-dark-blue h-10 rounded-md border-l-0 mt-1 rounded-l-none hover:bg-dark-blue hover:text-white duration-300"
        (click)="passwordVisible = !passwordVisible"
      >
        <i class="fa-solid fa-eye{{ passwordVisible ? '-slash' : '' }}"></i>
      </button>
    </div>
    <p class="text-center text-sm text-red-500 mt-1">{{ errorMessage }}</p>
  </div>
  <div *nzModalFooter>
    <button
      class="bg-dark-blue border-[1px] border-dark-blue rounded-sm h-7 w-fit px-2 text-white hover:bg-white hover:text-dark-blue hover:shadow-2xl hover:scale-125 duration-500"
      (click)="update()"
    >
      Update
    </button>
  </div>
</nz-modal>
