<nz-modal
  [(nzVisible)]="isTripsOptionsClicked"
  [nzTitle]="theTrip?.tripName"
  (nzOnCancel)="closepop()"
>
  <div *nzModalContent>
    <p>What would you like to do with this holiday?</p>
  </div>
  <div *nzModalFooter>
    <button
      class="bg-white border-[1px] border-red-500 rounded-sm h-7 w-fit px-2 mr-3 hover:bg-red-500 hover:text-white duration-500"
      (click)="handleClick('DELETE')"
    >
      Delete
    </button>
    <button
      class="bg-dark-blue border-[1px] border-dark-blue rounded-sm h-7 w-fit px-2 text-white hover:bg-white hover:text-dark-blue hover:shadow-2xl hover:scale-125 duration-500"
      (click)="handleClick('UPDATE')"
    >
      Update
    </button>
  </div>
</nz-modal>
