<div class="grid md:py-4 py-4">
  <!--Date-->
  <div class="w-full justify-center flex">
    <p
      *ngIf="this.selectedDate && this.itenaryDate"
      class="md:text-base text-[10px]"
    >
      Please {{ addIntention === "ADDING" ? "Add" : "Update" }} An Itenary For
      <span class="text-dark-blue font-mono text-center">
        {{ selectedDate | date: "fullDate" }}
      </span>
      <button
        (click)="editDate()"
        class="md:ml-2 text-dark-blue md:h-10 md:w-10 w-5 h-5 border-[1px] hover:border-dark-blue hover:bg-white hover:scale-105 hover:shadow-2xl duration-500 rounded-full"
      >
        <i class="fa-solid fa-pencil"></i>
      </button>
    </p>
    <nz-input-group
      class="w-full md:mx-80 mx-4"
      *ngIf="!(this.selectedDate && this.itenaryDate)"
    >
      <p class="mb-1 text-center">Please Select Date For This Itenary:</p>
      <nz-select
        [(ngModel)]="itenaryDate"
        [nzPlaceHolder]="itenaryDate"
        (ngModelChange)="handleSelectedDate()"
        class="w-full"
      >
        <nz-option
          *ngFor="let date of listOfAvailableDates"
          [nzValue]="date"
          [nzLabel]="getDateString(date)"
        >
        </nz-option>
      </nz-select>
    </nz-input-group>
  </div>
  <!--Name And Tag-->
  <div class="flex flex-wrap w-full justify-around px-5 md:px-10 mt-5">
    <nz-input-group class="w-full md:w-[40%]">
      <label class="mb-1">Name Of Itenarary:</label>
      <input
        nz-input
        [(ngModel)]="itenaryDetails.itenaryName"
        type="text"
        placeholder="Name Of Itenary"
      />
    </nz-input-group>
    <nz-input-group class="w-full md:w-[40%]">
      <label class="mb-1">Itenarary Tag</label>
      <nz-select
        [(ngModel)]="itenaryDetails.itenaryTag"
        nzPlaceHolder="Select Tag"
        class="w-full"
      >
        <nz-option nzValue="Travel Event" nzLabel="Travel Event"> </nz-option>
        <nz-option nzValue="Destination Event" nzLabel="Destination Event">
        </nz-option>
      </nz-select>
    </nz-input-group>
  </div>
  <!--Start Time And End Time-->
  <div class="flex flex-wrap w-full justify-around md:px-10 px-5 mt-5">
    <div class="w-full md:w-[40%]">
      <label class="mb-1">Start Time</label>
      <nz-time-picker
        [(ngModel)]="startTime"
        #sTime
        (ngModelChange)="validTimeRange()"
        class="w-full"
        nzFormat="h:mm a"
      ></nz-time-picker>
    </div>
    <nz-input-group class="w-full md:w-[40%]">
      <label class="mb-1">End Time</label>
      <nz-time-picker
        [(ngModel)]="endTime"
        #eTime
        (ngModelChange)="validTimeRange()"
        class="w-full"
        nzFormat="h:mm a"
      ></nz-time-picker>
      <p class="text-red-500 text-sm" *ngIf="!validTimeRange()">
        Please Enter Valid (end > start) Time Range
      </p>
    </nz-input-group>
  </div>
  <app-currency-converter
    (converting)="handleConverting($event)"
    [fromCurrency]="fromCurrency"
    [fromDropOpen]="fromDropOpen"
    [toCurrency]="toCurrency"
    [toDropOpen]="toDropOpen"
    [converstionCurrency]="converstionCurrency"
    [listOfCurrencies]="listOfCurrencies"
    [gotCurrencies]="gotCurrencies"
    (fromDropChange)="handleFromDropChange($event)"
    (toDropChange)="handleToDropChange($event)"
    (selectedCurrency)="handleCurrencySelect($event)"
  ></app-currency-converter>

  <div class="w-full justify-center flex px-5 mt-3">
    <button
      *ngIf="!(toDropOpen || fromDropOpen)"
      [disabled]="!readyToAddItenary()"
      (click)="addItenarary()"
      class="{{
        readyToAddItenary()
          ? 'hover:scale-105 hover:bg-white hover:text-dark-blue hover:shadow-2xl'
          : 'opacity-50'
      }} w-full md:mx-80 bg-dark-blue border-[1px] border-dark-blue h-10 text-white rounded-md  duration-500"
    >
      {{ addIntention === "ADDING" ? "Add " : "Update " }}Itenary
    </button>
  </div>
</div>
