<nz-spin
  [nzSpinning]="isAddingHoliday"
  nzSize="large"
  nzTip="Adding Holiday..."
>
  <div
    class="bg-slate-100 rounded-md shadow-2xl h-fit py-14 pb-5 grid place-items-center px-10"
  >
    <app-phase-one
      *ngIf="phase === 0"
      [holidayName]="holidayDetails.holidayName"
      (newHolidayName)="holidayDetails.holidayName = $event"
    ></app-phase-one>

    <app-phase-two
      *ngIf="phase === 1"
      [locationDetails]="locationDetails$ | async"
      [isSearching]="isSearchingLocation"
      (searchPlace)="searchForLocation($event)"
      (locationConfirmed)="holidayDetails.holidayLocation = $event"
    ></app-phase-two>

    <app-phase-three
      *ngIf="phase === 2"
      [errorMessage]="errorMessage"
      (selectedDate)="setSelectedDates($event)"
    ></app-phase-three>
    <div class="flex justify-between w-full mt-10">
      <button
        [disabled]="phase === 0"
        [@fade]="phase === 0 ? 'Out' : 'In'"
        (click)="previous()"
        class="bg-white text-dark-blue border-[1px] border-dark-blue rounded-md w-32 h-fit px-5 py-2 float-right hover:shadow-2xl duration-150"
      >
        Previous
      </button>
      <button
        [disabled]="!isNextDisabled()"
        (click)="next()"
        class="{{
          isNextDisabled() ? ' hover:shadow-2xl ' : ' opacity-50'
        }} text-white rounded-md w-32 h-fit px-5 py-2 float-right bg-dark-blue  duration-150"
      >
        {{ phase === 2 ? "Add" : "Next" }}

        <i class="fa-solid fa-plus ml-3" *ngIf="phase === 2"></i>
      </button>
    </div>
    <div class="flex px-5 mt-7">
      <div
        class="w-3 h-3 mr-5 rounded-full {{
          phase === 0 ? 'bg-dark-blue' : 'bg-white'
        }} border-[1px] border-dark-blue duration-1000"
      ></div>
      <div
        class="w-3 h-3 mr-5 rounded-full {{
          phase === 1 ? 'bg-dark-blue' : 'bg-white'
        }} border-[1px] border-dark-blue duration-1000"
      ></div>
      <div
        class="w-3 h-3 mr-5 rounded-full {{
          phase === 2 ? 'bg-dark-blue' : 'bg-white'
        }} border-[1px] border-dark-blue duration-1000"
      ></div>
    </div>
  </div>
</nz-spin>
