<div class="sign-in-wrapper">
  <div class="sign-in-container">
    <div class="sign-in-left">
      <img src="assets/images/signin.svg" />
    </div>

    <div class="sign-in-right">
      <h1 class="sign-in-title">Sign In</h1>

      <form nz-form [formGroup]="signInForm" (submit)="signInUser()">
        <nz-form-item>
          <nz-form-control>
            <p>Email:</p>

            <nz-input-group nzPrefixIcon="mail">
              <input nz-input formControlName="email" type="email" />
            </nz-input-group>

            <p *ngIf="email?.invalid && email?.touched" class="text-red-500">
              Email Is Required
            </p>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <p>Password:</p>

            <nz-input-group nzPrefixIcon="lock">
              <input
                nz-input
                formControlName="password"
                [type]="passwordVisible ? 'text' : 'password'"
              />

              <button
                (click)="togglePasswordVisibility(); $event.preventDefault()"
              >
                <i [class]="passwordVisible ? openedEye : closedEye"></i>
              </button>
            </nz-input-group>
            <p
              *ngIf="password?.invalid && password?.touched"
              class="text-red-500"
            >
              Password Is Required
            </p>
          </nz-form-control>
        </nz-form-item>

        <button
          class="sign-in-button"
          [disabled]="signInForm.invalid"
          [ngClass]="{ disabled: signInForm.invalid }"
        >
          Sign In
        </button>
      </form>
    </div>
  </div>
</div>
