<div class="w-full h-[700px] bg-slate-100 rounded-xl overflow-x-auto px-5">
  <nz-calendar
    nzFullscreen="true"
    [(ngModel)]="selectedDate"
    *ngIf="!isAddingItenary"
    (nzSelectChange)="handleDateSelected()"
  >
    <ul *nzDateCell="let date">
      <!-- To Show Their Holiday Plans (hence the date they can add itenaries on)-->
      <ng-container
        *ngIf="date >= startDate && date <= endDate"
        class="bg-blue-400"
      >
        <div class="bg-dark-blue bg-opacity-80 w-full h-fit min-h-screen">
          <div
            *ngFor="let itenary of itenaries; trackBy: identifyItenary"
            class="pt-1"
          >
            <div
              *ngIf="
                (itenary.itenaryDate | date: 'shortDate') ===
                (date | date: 'shortDate')
              "
              class="text-white px-3 flex w-full h-full items-center border-[1px] hover:border-dark-blue mt-2 hover:bg-white hover:text-dark-blue hover:scale-105 duration-500"
              (click)="handleItenaryClicked(itenary); $event.stopPropagation()"
            >
              <div
                class="w-2 h-2 rounded-full {{
                  itenary.itenaryTag === 'Destination Event'
                    ? 'bg-green-400'
                    : 'bg-yellow-200'
                }}"
                [title]="itenary.itenaryTag"
              ></div>
              <p class="text-sm ml-2">{{ itenary.itenaryName }}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </ul>
  </nz-calendar>
</div>
