<div class="w-full h-full md:h-[700px] bg-slate-100 rounded-xl">
  <div *ngIf="isAddingItenary" class="md:py-10 py-3 h-full overflow-y-auto">
    <h1 class="text-center text-lg text-dark-blue">
      {{ addIntention === "ADDING" ? "Adding " : "Updating " }} An Itenary
    </h1>
    <app-add-or-update-itenary
      [listOfAvailableDates]="holiday | getListOfDates"
      [itenaryDetails]="itenaryDetails"
      [startDate]="holiday.holidayStartDate"
      [fromCurrency]="fromCurrency"
      [fromDropOpen]="fromDropOpen"
      [toCurrency]="toCurrency"
      [toDropOpen]="toDropOpen"
      [selectedDate]="selectedDate"
      [itenary]="itenary"
      [addIntention]="addIntention"
      [listOfCurrencies]="listOfCurrencies$ | async"
      [gotCurrencies]="gotCurrencies$ | async"
      [converstionCurrency]="
        (converstionCurrency$ | async)!
          | convertConvertedCurrency: toCurrency.code
      "
      [itenary]="itenary"
      (fromDropChange)="fromDropOpen = $event"
      (toDropChange)="toDropOpen = $event"
      (converting)="convertCurrency($event)"
      (selectedCurrency)="handleCurrencySelect($event)"
      (addItenaryDetails)="handleAddItenaryDetails($event)"
    ></app-add-or-update-itenary>
  </div>
</div>
