<div
  *ngFor="let holiday of holidays; trackBy: identifyHoliday"
  class="flex flex-wrap mb-14 border-[1px] border-dark-blue p-5 md:p-10 md:h-[900px] overflow-auto rounded-xl items-center"
>
  <!-- 1. Header -->
  <div class="flex w-full justify-between pb-5 md:pb-10">
    <div>
      <!-- Having it in div so i can have details listed vertically -->
      <h1 class="text-xl text-dark-blue mb-1">
        {{ holiday.holidayName }}
      </h1>
      <h3 class="text-sm text-dark-blue mb-1">
        {{ holiday.holidayLocation?.name }},
        {{ holiday.holidayLocation?.country }}
      </h3>
      <h3 class="text-sm text-dark-blue mb-3">
        {{ holiday.holidayItenaries.length }} itenaries
      </h3>

      <h3 class="text-sm mt-1">
        {{ holiday.holidayStartDate | date: "fullDate" }}
        <span class="mx-5 opacity-0 md:opacity-100"> ~ </span>
        {{ holiday.holidayEndDate | date: "fullDate" }}
      </h3>
      <!-- Putting in flex so i can have them side by side -->
      <div class="flex mt-5">
        <button
          class="px-3 border-[1px] border-dark-blue border-r-0 h-fit duration-1000 {{
            isAddingItenary
              ? 'bg-dark-blue text-white py-1'
              : 'bg-white text-dark-blue'
          }}"
          (click)="handleChangeIsAdding(true, holiday.holidayID)"
        >
          <i class="fa-solid fa-plus"></i>
        </button>
        <button
          class="px-3 border-[1px] border-dark-blue text-dark-blue h-fit duration-1000 {{
            isAddingItenary
              ? 'bg-white text-dark-blue'
              : 'bg-dark-blue text-white py-1 '
          }}"
          (click)="handleChangeIsAdding(false, holiday.holidayID)"
        >
          <i class="fa-solid fa-calendar-days"></i>
        </button>
      </div>
    </div>
    <div>
      <button
        class="border-[1px] border-dark-blue bg-white shadow-2xl md:bg-dark-blue text-dark-blue md:text-white w-fit h-fit md:py-3 md:px-8 px-3 py-3 flex justify-center items-center md:rounded-md rounded-full mb-3 hover:bg-white hover:text-dark-blue hover:shadow-2xl hover:scale-105 duration-500"
      >
        <i class="fa-solid fa-pencil md:mr-2"></i>
        <span class="md:block hidden">Edit Holiday</span>
      </button>
      <button
        class="border-[1px] border-red-500 bg-white shadow-2xl md:bg-white text-red-500 w-fit h-fit md:py-3 md:px-6 px-3 py-3 flex justify-center items-center md:rounded-md rounded-full mb-2 hover:bg-red-500 hover:text-white hover:shadow-2xl hover:scale-105 duration-500"
      >
        <i class="fa-solid fa-trash md:mr-2"></i>
        <span class="md:block hidden">Delete Holiday</span>
      </button>
    </div>
  </div>

  <app-add-itenary
    *ngIf="!isMobileShowingItinararies || !isMobile()"
    [isAddingItenary]="isAddingItenary"
    [holiday]="holiday"
    [selectedDate]="selectedDate"
    [addIntention]="addIntention"
    [itenary]="itenary"
    (addItenaryDetails)="handleAddItenaryDetails($event, holiday.holidayID)"
    class="{{
      isAddingItenary
        ? 'md:w-[90%] shadow-2xl scale-105 duration-1000'
        : 'md:w-[10%]'
    }} w-full"
    [@slide]="
      isMobile() &&
      (isAddingItenary
        ? { value: 'bottom', params: { height: 400 } }
        : { value: 'bottom', params: { height: 50 } })
    "
  >
  </app-add-itenary>
  <app-calendar
    [itenaries]="holiday.holidayItenaries"
    [holidayStartDate]="holiday.holidayStartDate | date"
    [holidayEndDate]="holiday.holidayEndDate | date"
    [isAddingItenary]="isAddingItenary"
    (dateSelected)="handleDateSelected($event, holiday.holidayID)"
    (dateSelectedMobile)="handleDateSelectedMobile($event, holiday.holidayID)"
    (itenaryClicked)="handleItenaryClicked($event, holiday.holidayID)"
    class="{{
      isAddingItenary
        ? 'md:w-[10%]'
        : 'md:w-[90%] shadow-2xl scale-105 duration-1000'
    }} w-full"
    [@slide]="
      isMobile() &&
      (isMobileShowingItinararies
        ? { value: 'top', params: { topby: -218, height: 270 } }
        : { value: 'top', params: { topby: 0, height: 400 } })
    "
    [@slide]="
      isMobile() &&
      (isAddingItenary
        ? { value: 'bottom', params: { height: 50 } }
        : { value: 'bottom', params: { height: 400 } })
    "
  >
  </app-calendar>
  <app-list-of-itenary-items
    *ngIf="isMobile() && isMobileShowingItinararies"
    [itenaries]="holiday.holidayItenaries"
    [selectedDate]="selectedDate"
    (closeViewOfItenararies)="handleCloseItinarariesMobile($event)"
    (itenaryClicked)="handleItenaryClicked($event, holiday.holidayID)"
    (addNewItenary)="handleAddNewItenaryMobile($event)"
    class="w-full"
    [@slide]="
      isMobile() &&
      (isMobileShowingItinararies
        ? { value: 'bottom', params: { height: 390 } }
        : { value: 'bottom', params: { height: 0 } })
    "
  ></app-list-of-itenary-items>
</div>
